<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>管理后台</title>
</head>
<body>
    <h1>欢迎访问管理后台！</h1>
    <p></p>
    <a href="/">前台区域</a>
    <p></p>
    验证码：<img src="/tools/generate/captcha" />
</body>
</html>