<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>关于Monk.Node</title>
</head>
<body>
    <a href="http://www.baisoft.org" target="_blank">百签软件有限公司</a>&nbsp;&nbsp;
    <p></p>
    <a href="/">回到首页</a>&nbsp;&nbsp;
</body>
</html>