<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>会员管理中心</title>
</head>
<body>
    这里是新增会员页面
    <p></p>
    <a href="/backend/member">回到会员管理首页</a>&nbsp;&nbsp;
</body>
</html>