<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>会员管理中心</title>
</head>
<body>
    欢迎您，这是是会员管理中心
    <p></p>
    <a href="/backend/member/create">新增会员</a>&nbsp;&nbsp;
    <p></p>
    <a href="/backend">回到后台首页</a>&nbsp;&nbsp;
</body>
</html>