<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Monk.Node</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <img src="/imgs/logo.png" height="100" alt="">
    <p></p>
    恭喜你！<%=name %> 部署成功！*_*
    <p></p>
    <a href="/frontend/home/about">关于Monk.Node</a>&nbsp;&nbsp;<a href="/backend">后台区域</a>&nbsp;&nbsp;<a href="/frontend/socket">即时通讯</a>&nbsp;&nbsp;<a href="http://www.baisoft.org" target="_blank">百签软件</a>&nbsp;&nbsp;
    <script src='/js/script.js'></script>
</body>
</html>