<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>网站首页</title>
</head>
<body>
    恭喜您，Monk.Nodel 部署成功！<%=date %>
    <p></p>
    <a href="/backend">后台首页</a>&nbsp;&nbsp;<a href="/frontend/socket">即时通讯</a>&nbsp;&nbsp;
</body>
</html>