<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>关于Monk.Node</title>
</head>
<body>
    <pre>
## 作者信息 

- 原创作者：`百小僧` 
- 开源协议：`MIT License`
- 开发时间：`2016年12月06日`
- 当前版本：`2.0.0`，`2016年12月10日`
- 项目名称：`Monk.Node`
- 版权所有：[百签软件（中山）有限公司](http://www.baisoft.org)
- 联系方式：QQ群：`18863883`，作者QQ：`8020292`
- 开发理念：`一切从简，只为了更懒`
- 码云地址：[http://git.oschina.net/baisoft_org/Monk.Node](http://git.oschina.net/baisoft_org/Monk.Node)

## 框架特点

- 基于Node.js平台开发，Javascript作为主要编写语言
- 极易入门，前后端开发者都能快速上手
- 目录清晰，代码规范
- 采用目前主流的MVC思想编写，并支持多区域，多站点开发
- 底层采用主流的Express.js 4.x Web框架进行开发，拓展性极强，第三方模块丰富，并完全兼容Express.js 4.x功能
- 集成强大的Nodejs数据库ORM组件：Sequelize.js，支持目前所有主流数据库
- 集成强大的ejs模板引擎
- 支持Session，Cookies会话操作
- 支持RESTful API开发
- 支持过滤器，中间件，支持权限控制再也不是什么难题
- 支持redis存储
- 支持实时通信WebSocket开发，已集成主流的Socket.io模块
- 支持文件上传
- 支持数据库表模型生成工具
- 支持开发、测试、生成环境数据库切换
- 拓展性强，完美支持Node.js原生模块
- 更多强大功能后续陆续集成

## 更新记录
    </pre>
    <p></p>
    <a href="/frontend/about/baisoft">百签软件</a>&nbsp;&nbsp;<a href="/">回到首页</a>&nbsp;&nbsp;
</body>
</html>